@CHARSET "UTF-8";
body{overflow-x:hidden;width:100%;height:auto;font-family:"闂傚倸鍊搁崐鎼佸磹閹间礁纾圭€瑰嫭鍣磋ぐ鎺戠倞妞ゆ帒顦伴弲顏堟偡濠婂啰效婵犫偓娓氣偓濮婅櫣绱掑Ο铏逛紘濠碘槅鍋勭€氭澘顕ｉ崨濠冨缂侇垱娲橀弬鈧梻浣虹帛閿氶柣銈呮处缁旂喎螣閼测晜锛忛梺纭咁潐閸旓箓宕靛▎鎾寸厓閻熸瑥瀚悘鎾煙椤旇娅婄€规洩绲惧鍕偓锝庡亜閳ь剟顥撶槐鎾诲磼濞嗘垵濡介梺鍛婃⒐閻楃娀濡撮崘顔煎耿婵炲棙鍔曟惔濠傗攽閻愭潙鐏熼柛銊ユ贡缁鏁愰崱娆戭啎闂佺硶鍓濋〃鍫㈢不閸愯褰掓偐閼姐倗鏆梺鍝勭焿缁查箖骞嗛弮鍫濐潊闁挎繂鎷嬪Λ鐔兼⒒娴ｅ憡鎲搁柛鐘冲姍楠炴劙骞庨悾灞界ウ闂佸憡鍔戦崜顕€寮崼婵嗙獩濡炪倖妫佹慨銈夋偟閹惰姤鈷戠痪顓炴噹娴滃綊鎮跺☉鏍у姦鐎规洘绮岄埞鎴犫偓锝庡亜閳ь剙澧庨埀顒€绠嶉崕閬嵥囨导鏉戠厱闁硅揪闄勯悡娆撴煙椤栨稒绶茬悮姘舵⒑鏉炴壆绐斿ù婊冪埣瀵鏁愰崨鍌涙瀹曟﹢濡搁姀锛勨偓浼存煟鎼淬埄鍟忛柛鐘崇洴椤㈡俺顦归柛鈹垮劜瀵板嫭绻涢姀銏犳灈闁哄被鍔庨埀顒婄到閻忔氨绱炵仦瑙ｆ斀闁绘ɑ鍓氶崯蹇涙煕閻樻剚娈滈柕鍡楀暣瀹曘劑顢橀崶銊р槈閾绘牠鏌嶈閸撶喖宕洪姀銈呯閻犲洦鐓￠崬鍫曟⒑閸濆嫭宸濋柛鐔锋健楠炲繐煤椤忓應鎷洪梺鐓庮潟閸婃洟寮搁幋鐐电瘈闁靛繆鍩楅鍫濈厺闁规崘顕ч悡娑㈡煕濞戝崬鏋ら柛妯兼暬濮婃椽宕ㄦ繝鍌滀户闂佺ǹ锕ラ悧婊堝焵椤掍胶鍟查柟鍑ゆ嫹", "Microsoft YaHei";}
a:link{
text-decoration:none;
}
a{color:#9f9f9d;font-size:14px;}
.ddd{font-size:12px;}
.main{margin:0 auto;width:99%;clear:both;min-height:0px;}
.wenzi{margin-top:20px;margin-right:auto;margin-left:auto;width:100%;}
.biaoti{margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.jianjiezi{margin-top:20px;margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.anniu{margin-right:auto;margin-left:auto;width:220px;}
.anzhuo{margin-top:30px;float:left;width:220px;height:60px;background:url(http://ww4.sinaimg.cn/bmiddle/0068TJS4gw1eu60rjrv3aj306601o745.jpg) no-repeat;}
.app{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww2.sinaimg.cn/bmiddle/0068TJS4gw1eu60rj3re6j306601owed.jpg) no-repeat;}
.pc{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww3.sinaimg.cn/bmiddle/0068TJS4gw1eu60rkfgwwj306601o0sl.jpg) no-repeat;}
.mva{margin-top:20px;float:left;width:220px;height:391px;background:url(http://ww2.sinaimg.cn/mw690/005uJx3ujw1f25qu7zyf0j30640avt91.jpg) no-repeat;}
.zi1{margin-top:10px;float:left;text-align:center;width:220px;}
